{% extends "layout.twig" %}

{% block title %}Liste des termes{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="page-header">
                    <h1>Liste des termes</h1>
                </div>

                {% for terme in termes %}
                    <ul class="list-group">
                        <li class="list-group-item">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                            <a href="terme.php?terme={{ terme.LIBELLE }}">{{ terme.LIBELLE }}</a>
                            {% if SESSION['email'] is defined %}
                                <a href="terme_modif.php?terme={{ terme.LIBELLE }}">
                                    <i class="glyphicon glyphicon-wrench"></i>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
