{% extends "layout.twig" %}

{% block title %}Recherche de terme{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="page-header">
                    <h1>Résultat de la recherche</h1>
                    <h2>{{ termes|length }} résultats correspondants à la recherche.</h2>
                </div>
                {% if termes|length == 0 %}
                    <div class="alert alert-danger">Auncun résulat ne correspond à votre recherche.</div>
                {% endif %}
                {% for terme in termes %}
                    <ul class="list-group">
                        <li class="list-group-item">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                            <a href="terme.php?terme={{ terme.LIBELLE }}">{{ terme.LIBELLE }}</a>
                            {% if SESSION['email'] is defined %}
                                <a href="terme_modif.php?terme={{ terme.LIBELLE }}">
                                    <i class="glyphicon glyphicon-wrench"></i>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div><!-- /.container -->
{% endblock %}
